@import '~normalize.css';

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

canvas {
  width: 100%;
  height: 100%;
}

.unit {
  user-select: none;
  cursor: pointer;
  position: fixed;

  &.selected {
    .unit__background {
      stroke: blue;
    }
  }
}

.arrow {
  position: fixed;
  display: none;
  margin-left: 50px;
  margin-top: 15px;
  transform-origin: 0% 0%;

  &.active {
    display: block;
  }
}
